<!DOCTYPE html>
<html>
  <head>
    <title>About - Simple Application</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About This Application</h1>
    <p>This is a simple Node.js Express application with EJS templating.</p>
    <p>
      <a href="/">Home</a> | 
      <a href="/about">About</a> | 
      <a href="/contact">Contact</a>
    </p>
  </body>
</html>
